@model Modelo.bodegasdestinos

@{
    ViewBag.Title = "Delete";
}


<h3>Realmente desea Eliminar el Registro?</h3>
<div>
 
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Comuna
        </dt>

        <dd>
            @Html.DisplayFor(model => model.comunas.comuna)
        </dd>

        <dt>
            Destino
        </dt>

        <dd>
            @Html.DisplayFor(model => model.destinos.nombre)
        </dd>

        <dt>
           Descripcion Bodega
        </dt>

        <dd>
            @Html.DisplayFor(model => model.descripcion)
        </dd>

        <dt>
            Direccion
        </dt>

        <dd>
            @Html.DisplayFor(model => model.direccion)
        </dd>

        <dt>
           Numero
        </dt>

        <dd>
            @Html.DisplayFor(model => model.numero)
        </dd>

        <dt>
            Telefono
        </dt>

        <dd>
            @Html.DisplayFor(model => model.telefono)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Eliminar" class="btn btn-danger" /> |
            @Html.ActionLink("Volver al Listado", "Index",new { id=Model.id_destino})
        </div>
    }
</div>
